@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

#binsHeader {
    background-color: #D34735;
    width: 450px;
    height: 90px;
}
#bckGround {
    background: #AB2A19;
    width: 100px;
    height: 90px;
    top: -1px;
    left: 50px;
}
#icon {
    right: 1715px;
}
#shelfTitle {
    position: absolute;
    left: 120px; 
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 500px;
    color: white;
    top: -52px;
    text-decoration: none;
}
#shelfTitle h1 {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
#binBckGround {
    background: #ED6B5A;
    width: 100px;
    height: 0px;
    left: 200px;
}
#binTitle {
    position: absolute;
    left: 450px; 
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 500px;
    color: black;
    top: -52px;
    text-decoration: none;
}
#binTitle h1 {
    background: #FFB8AF;
    text-decoration: none;
    display: inline-block;
    color: black;
    width: 1069px;
    height: 95.5px;
    font-family: 'Open Sans', sans-serif;
}
#cancel, #Add {
    color: black;
}
#edit {
    position: relative;
    top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}